<app-navbar></app-navbar>
<div class="container" >
  <h1>Organizer Panel</h1>
  <h3>Unsold Players</h3>
  <form>
    <div class="form-group">
        <label for="select">Filter by Category:</label>
        <select id="select">
            <option>All</option>
            <option>Bowler</option>
            <option>Batsman</option>
        </select>
    </div>

    <div class="form-group">
      <label for="team1">Player X (Age:25)-Category:Category A</label>
        <select><option>Team1</option>
            <option>Team2</option>
        </select>
    </div>

    <div class="form-group">
      <label for="team2">Player Y (Age:28)-Category:Category B</label>
        <select><option>Team1</option>
            <option>Team2</option>
        </select>
    </div>

    <button>Assign to Team</button>

  </form>
</div>
